asgiref
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
defusedxml
Django
django-rest-swagger
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-yasg
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
oauthlib
openapi-codec
packaging
psycopg2
pycparser
PyJWT
python-decouple
python3-openid
pytz
PyYAML
requests
requests-oauthlib
simplejson
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
whitenoise