asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-yasg
idna
inflection
oauthlib
packaging
pycparser
PyJWT
python-decouple
python3-openid
pytz
PyYAML
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
